# SPDX-FileCopyrightText: Copyright (c) 2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.aux
*.bbl
*.bcf
*.blg
*.crumbs
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.pyg
*.run.xml
*.toc
*.xcp
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
.DS_Store
.idea/
_minted-*/
_minted-wp/
node_modules/
svg-inkscape/
target/
